extends layout

block content
  div(class="article")
    //- Welcome message for the browser tab.
    title 
    p(class="article-body") 
      h3=articleTitle
    p=articleBody

  div(class="user-activity")
    h3 User Activity
      // View User Activity button, and 
      // Reset button 
      form()
        br
        input(type="submit" formaction="/view" formmethod="GET" name="userActivity" value="View User Activity")
        input(type="submit" formaction="/reset" formmethod="GET" name="reset" value="Reset")
        br
      form
        

  div(class="add-comments")
    h3 Add a Comment
    // Comment id: ____
    // Comments: ____
    // AddComment button, 
    // Undo button, 
    form()
      p Comment Id: 
        input(required type="number" placeholder="Id (Integer Value)" name="commentId")
        br
      p Comments: 
        input(required type="textarea" placeholder="Leave Comments Here" name="commentText" rows=10 cols=35)
        br
      input(type="submit" formaction="/add" formmethod="POST" name="addComment" value="Add Comment")
      br

      
  div(class="undo")
    form()
      input(type="submit" formaction="/undo" formmethod="POST" name="undo" value="Undo")


  div(class="comments")
    h3 Comments
    // Ex [ID 1]: [First Comment]
    ul 
      each item in commentList 
       p ID #{item.id}: #{item.operand} #{item.emptyMessage}


  div(class="delete-comment")
    h3 Delete Specific Comment 
    // Question ID: ____ Delete Comment button
    form()
      p Question Id: 
        input(required type="number" placeholder="Question Id" name="deleteId")
        br
      input(type="submit" formaction="/delete" formmethod="POST" name="delete" value="Delete Comment")

