extends layout 

block content
  title 
  h3=subTitle
  h4=questionTitle
  each item in questions
    li=item.question
      p Answer Options: [  
        each opt in item.options
          |  #{opt}, 
        | ]
  br
  h4 Add a new question:
  form()
    input(required type="textarea" placeholder="Add a new question" name="questionText" rows=10 cols=35 id="q-form")
    br
    input(required type="text" placeholder="Question choices (separate choice with commas)" name="optionText" id="q-form")
    br
    br
    input(type="submit" formaction="/admin/manage/q" formmethod="POST" name="addQuestion" value="Add Question")
    br
    p(class="error-text") #{errorMessage}
      
  br

  form()
      input(type="submit" formaction="/" formmethod="POST" name="logout" value="Logout")
  br


