extends layout 

block content
    h4 User: #{username}
    h3=title
    p=subTitle

    strong #{message}
    br
    each item in matches 
        li
            strong User: #{item.username}
            |, Match count: #{item.count}
        br
    br
    a(href="/") Go to Main Page
