extends layout 

block content
    h4 User: #{username}
    h3=title
    p=subTitle
    br
    message
    each item in matches 
        li
            strong User: #{item.username}
            |, Match count: #{item.count}
        br

    a(href="/") Go to Main Page
