extends layout 

block content
    h4 User: #{username}
    h3 #{title} #{qid} 
    div(class="question")
        form()
            p=question
            if prefh == "horizontal"
                each item in options 
                    //- add revisited user answer
                    if userAnswer && userAnswer == item
                        input(type="radio" name="option" value=item checked)
                        label(for="option") #{item}
                    else
                        input(type="radio" name="option" value=item required)
                        label(for="option") #{item}
            else
                each item in options 
                    //- add revisited user answer
                    //- | user answer : #{userAnswer}
                    //- br
                    //- | item : #{item}
                    //- br
                    //- br 
                    if userAnswer && userAnswer == item
                        input(type="radio" name="option" value=item checked)
                        label(for="option") #{item}
                    else
                        input(type="radio" name="option" value=item required)
                        label(for="option") #{item}
                    br
            br
            br
            if qid === 1
                input(type="submit" formaction="/question/"+(qid + 1) name="next" value="Next")
            else 
                input(type="submit" formaction="/question/"+(qid - 1) name="prev" value="Prev")
                input(type="submit" formaction="/question/"+(qid + 1) name="next" value="Next")

    br
    a(href="/preferences/"+(qid)) Set User Preferences
    br
    br
    a(href="/") Go to Main Page